body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(43, 42, 39);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
.e{

    background-image: url("e.gif");
    background-repeat: repeat;
}
.input-container {
    text-align: center;
}

fieldset {
    border: none;
    padding: 5px;
    margin: 1px;
    width:500px;
    height: 150px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: large;
    color: rgb(245, 244, 239);
}

input[type="text"] {
    padding: 15px; /* Increase padding for larger input */
    border-radius: 10px; /* Rounded corners */
    border: 1px solid transparent;
    background-color: #f5f5f5;
    width: 100%; /* Take up full width */
    height: 50px;
    box-sizing: border-box; /* Include padding in width calculation */
    background-color: rgb(54, 54, 51);
    border-radius: 15px;
    outline: none;
}
input[type="text"]:focus{
    box-shadow: 5px 5px 5px 5px rgba(47, 47, 43, 0.589);
    border: 1px solid rgba(245, 222, 179, 0.493);
    transition: all 0.5s;
}
button {
    margin: 5px;
    padding: 10px 20px;
    background-color: rgb(87, 62, 9);
    color: white;
    border-radius: 5px; 
    border: none;
}

.gg{
 background-color: red;
 animation-name: gg;
 animation-duration: 1s;
 background-color: rgb(54, 54, 51);
}
@keyframes gg{
    from {background-color: red;}
    to{ background-color: rgba(175, 44, 44, 0.262);}
}

.input-container.moved-down {
    transform: translateY(100vh);
}

/* Animation for input field */
.input.moved-down {
    transform: translateY(100px);
}
.movedown {
    margin-top: 40%;
    transition: all 1s;
}